@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/* -------------------------- Colors general --------------  */

.navbar {
    background-color: rgba(0, 0, 0, 0.6)!important;
}

h1, h2, h3, h4,h5 {
    color:#117f93;
}

.btn-light {
    color:#117f93;
}

/* -------------------------- Text general --------------  */

p {
    text-align: justify;
}

h1, h2, h3, h4,h5 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

h1, h2 {
    font-weight: 900;
}
h3, h4 {
    font-weight: 700;
}

/* -------------------------- Navbar ----------------------  */

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: .1rem;
}

.navbar-brand img {
    height: 2rem;
    background: transparent;
}

.navbar-nav li {
    padding-right: .7rem;
}

navbar-dark .navbar-nav .navbar-link {
    padding-top: .8rem;
}

/* -------------------------- Slider ----------------------  */

.carousel-item {
    height: 100vh;
}

.carousel-item .container {
    position: absolute;
    top: 10%;
    height: 100vh;
    text-transform: uppercase;
    margin: 0;
}

.carousel-inner h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #fff;
}

.carousel-inner h2 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    padding-bottom: 2rem;
    color: #fff;
}

.carousel-inner .btn-lg {
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
}

.carousel-caption {
    position: absolute;
    top: 72%;
    text-transform: uppercase;
    margin: 0;
}

/* -------------------------- Volunteer Section -----------------------  */



/* -------------------------- About Us Section -----------------------  */

/* -------------------------- Gallery -------------------------------  */

/*  Original code credit: https://codepen.io/sdthornton/pen/wBZdXq   */

.gallery-thumbnail {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -o-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /*  ------------------------- Added by me -------------------------  */
    width: 100%;
    border-radius: 5px;
}

/*  Original code credit: https://codepen.io/sdthornton/pen/wBZdXq   */

.gallery-thumbnail:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/* -------------------------- Contact Section ----------------------  */

.jumbotron {
    border-radius: 0;
}

#contact {
    background-image: url(../images/contactus.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    padding: 2.5rem 0 3rem 0;
    margin-bottom: 2rem;
}

.contact {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.jumbotron .btn-light {
    border-width: medium;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}





/* -------------------------- Media Queries ----------------------  */


/* ---------------------- Media Queries Contact ------------------  */
@media (max-width: 767px){
    #contact {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .contact-double {
    margin-bottom: 1rem;
}
}

@media (min-width: 768px) {
    .jumbotron .container-fluid {
        width: 80%;
        margin-right: 2rem;
}
#contact {
    background-attachment: fixed;
}
}