@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

body {
    overflow-x: hidden;
    font-family:'Roboto', sans-serif;
    color: #50596;
}

/* -------------------------- Colors ----------------------  */

.navbar {
    background-color: rgba(0,0,0,0.6)!important;
}


/* -------------------------- Navbar ----------------------  */

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing:.1rem;
}

.navbar-brand img {
    height: 2rem;
    background: transparent;
}

.navbar-nav li {
    padding-right: .7rem;
}

navbar-dark .navbar-nav .navbar-link {
    padding-top: .8rem;
}
      
/* -------------------------- Slider ----------------------  */

.carousel-item {
    height: 100vh;
}
.carousel-item .container {
    position: absolute;
    top: 10%;
    height: 100vh;
    text-transform: uppercase;
    margin:0;
}

.carousel-inner h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #fff;
}

.carousel-inner h2 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    padding-bottom: 2rem;
    color: #fff;
}

.carousel-inner .btn-lg {
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
}

.carousel-caption {
    position: absolute;
    top:72%;
    text-transform: uppercase;
    margin:0;
}

/* -------------------------- Volunteer Section ----------------------  */

